.app-header {
  background-color: #253238;
  height: 60px;
  position: relative;
}

.app-logo {
  color: white;
  position: absolute;
  top: 50%;
  margin-left: 15px;
  transform: translateY(-50%);
}

.input-box {
  width: 300px;
  margin: auto;
  top: 50%;
  transform: translateY(50%);
}

#search-box {
  color: white;
  width: 300px;
}

#search-box-icon {
  color: white;
  margin-bottom: 6px;
}

.login-1 {
  float: right;
  margin-right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.login-2 {
  float: right;
  margin-right: 16px;
  top: 50%;
  transform: translateY(35%);
}

#login-btn-icon {
  margin-right: 5px;
}

#user-btn-icon {
  margin-right: 5px;
  color: lightgray;
}
